@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@600&display=swap');


:root {
  --border-color: rgba(206, 192, 192, 0.1);
  --background-color: #fff;
}

.india, .global {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 48%;
  border-radius: 10px;
  box-shadow: 1px 1px 80px 5px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.global {
  display: flex;
  flex-direction: column;
  width: 48%;
  border-radius: 10px;
  box-shadow: 1px 1px 80px 5px rgba(0,0,0,0.2);
  border: 1px solid rgba(0,0,0,0.1);
  transition: 0.3s ease;
}

.india:hover, .global:hover {
  background-color: rgba(33, 150, 243, 0.1);
  transition: 0.3s ease;  
}

.india h3, .global h3 {
  font-size: clamp(1rem, 1.1vw, 1.5rem);
  text-align: center;
  background-color: var(--background-color);
  padding: 10px 0px;
  margin: 0px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border: 2px solid var(--border-color);
  border-bottom: none;
  color: rgb(97, 91, 91);
}

.content {
  display: flex;
  flex-direction: column;
  background-color: var(--background-color);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 5px;
  border: 2px solid var(--border-color);
  border-top: none;
  margin: auto 0;
}

.content span{
  color: rgba(0,0,0,0.8);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.content span p {
  margin: 2px;
  font-size: clamp(0.7rem, 1vw, 1.1rem);
  font-family: 'Titillium Web', sans-serif;
}


small {
  text-align: center;
  font-size: 0.7rem;
  font-style: italic;
}

.content span:nth-child(2) p:nth-child(2), .content span:nth-child(4) p:nth-child(2){
  color: red;
}


@media (max-width: 768px) {
  .india, .global {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5px 0;
    width: 98%;
  }
  .content {
    margin-bottom: 0;
  }
  small {
    text-align: center;
    font-size: 0.6rem;
    font-style: italic;
  }
  .global {
    margin-bottom: 0.5rem;
  }
}

@media (max-width: 1024px) {
  small {
    text-align: center;
    font-size: 0.6rem;
    font-style: italic;
  }
}